/*
{
    "presets": [["@babel/preset-env",{
              "targets":{
                "node":"current"
              }
    }]
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread"
    ]
  }
*/
// now you can remove module from package.json as babel will handle moduling itself
{
    "presets": ["@babel/preset-env"],
    "plugins": [
        ["@babel/plugin-transform-runtime"]
    ]
  }